// Import page-specific CSS files here.
@import "home";

.show-book-cover {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.book-show-card {
  display: flex;
  align-items: center;
  padding: 20px;
}

.book-show-card img {
  max-width: 250px;
  margin-right: 20px;
}

.book-show-info {
  flex-grow: 1;
}

.book-details .lead strong {
  font-weight: bold;
}

.book-details .lead {
  margin-bottom: 10px;
}

.table-hover tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table-hover thead th {
  border-bottom: 2px solid #dee2e6;
}

.table-hover tbody td {
  border-bottom: 1px solid #dee2e6;
}

@media (max-width: 768px) {
  .book-show-card {
    flex-direction: column;
    align-items: center;
  }

  .book-show-card img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .book-details {
    text-align: center;
  }
}

.card-body-index {
  position: relative;
}

.remove-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #dc3545;
  cursor: pointer;
}

.remove-button:hover {
  color: #c82333;
}
