// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "flatpickr/dist/flatpickr.css";
@import "font-awesome";

// Your CSS partials
@import "components/index";

// Custom styles
@import "pages/index";
@import "pages/show";
@import "pages/new";

body {
  background-color: white;
  color: black;
}

.dropdown-item {
  &:hover {
    transition: 0.3s ease-in-out;
  }
}

.dropdown-menu {
  background-color: black;
  color: white;
}

.btn {
  background-color: $dark-green;
  color: white;
  &:hover {
    background-color: $light-green;
    color: black;
  }
}

.wishlist-btn {
  width: 150px;
  padding: 10px;
  font-size: 16px;
}
